<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte 
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ProcardUsername" value="GXTARJETAM" />
    <add key="ProcardPassword" value="PROCARDDES" />
    <add key="ProcardMessageSeparator" value="#" />

    <add key="ProcardOperation_Pago" value="1" />
    <add key="ProcardOperation_Pago_Expiration" value="0" />
    <add key="ProcardOperation_Pago_AuthorizationCode" value="0" />
    <add key="ProcardOperation_Pago_Pago" value="75" />
    <add key="ProcardOperation_Pago_Reversa_Pago" value="88" />
    <add key="ProcardOperation_Pago_Adelanto" value="13" />
    <add key="ProcardOperation_Pago_Reversa_Adelanto" value="8" />
    <add key="ProcardOperation_Pago_OutParam_01" value="auth_code" />
    <add key="ProcardOperation_Pago_OutParam_02" value="status" />

    <add key="ProcardOperation_Consulta" value="2" />
    <add key="ProcardOperation_Consulta_OutParam_01" value="service_code" />
    <add key="ProcardOperation_Consulta_OutParam_02" value="card_ending" />
    <add key="ProcardOperation_Consulta_OutParam_03" value="full_name" />
    <add key="ProcardOperation_Consulta_OutParam_04" value="card_type" />
    <add key="ProcardOperation_Consulta_OutParam_05" value="description" />
    <add key="ProcardOperation_Consulta_OutParam_06" value="amount_to_pay" />
    <add key="ProcardOperation_Consulta_OutParam_07" value="debt" />

    <add key="ProcardOperation_Alta" value="3" />
    <add key="ProcardOperation_Alta_Change_Code" value="00" />
    <add key="ProcardOperation_Alta_NumberPaddingChar" value="0" />
    <add key="ProcardOperation_Alta_OutParam_01" value="reject_code" />
    <add key="ProcardOperation_Alta_OutParam_02" value="reject_description" />
    <!-- Has to be saved in the LENDER/BORROWER table -->
    <add key="ProcardOperation_Alta_OutParam_03" value="card_class" />
    <!-- Has to be saved in the LENDER/BORROWER table -->
    <add key="ProcardOperation_Alta_OutParam_04" value="card_number" />
    <!-- Has to be saved in the LENDER/BORROWER table -->
    <add key="ProcardOperation_Alta_OutParam_05" value="user_number" />
    <!-- Has to be saved in the LENDER/BORROWER table -->
    <add key="ProcardOperation_Alta_OutParam_06" value="account_number" />
    <!-- Has to be saved in the LENDER/BORROWER table -->
    <add key="ProcardOperation_Alta_OutParam_07" value="auth_code" />

    <add key="ProcardOperation_Modificacion" value="3" />
    <add key="ProcardOperation_Modificacion_OutParam_01" value="reject_code" />
    <add key="ProcardOperation_Modificacion_OutParam_02" value="reject_description" />
    <add key="ProcardOperation_Modificacion_OutParam_03" value="auth_code" />

    <add key="ProcardOperation_Modificacion_ChangeCode_01" value="Numero  Usuario (Adicionales)" />
    <add key="ProcardOperation_Modificacion_ChangeCode_02" value="Nombre del Usuario" />
    <add key="ProcardOperation_Modificacion_ChangeCode_03" value="Dirección 1" />
    <add key="ProcardOperation_Modificacion_ChangeCode_04" value="Numero de Documento" />
    <add key="ProcardOperation_Modificacion_ChangeCode_05" value="Teléfono Particular" />
    <add key="ProcardOperation_Modificacion_ChangeCode_06" value="Localidad 1 " />
    <add key="ProcardOperation_Modificacion_ChangeCode_07" value="Fecha de Nacimiento" />
    <add key="ProcardOperation_Modificacion_ChangeCode_08" value="Nacionalidad" />
    <add key="ProcardOperation_Modificacion_ChangeCode_09" value="Estado Civil" />
    <add key="ProcardOperation_Modificacion_ChangeCode_10" value="Sexo" />
    <add key="ProcardOperation_Modificacion_ChangeCode_11" value="Ocupación" />
    <add key="ProcardOperation_Modificacion_ChangeCode_12" value="Código Correspondencia" />
    <add key="ProcardOperation_Modificacion_ChangeCode_13" value="Código Sucursal" />
    <add key="ProcardOperation_Modificacion_ChangeCode_14" value="Línea de Crédito" />
    <add key="ProcardOperation_Modificacion_ChangeCode_15" value="Línea de Cuota" />
    <add key="ProcardOperation_Modificacion_ChangeCode_16" value="(A) Pago Mínimo" />
    <add key="ProcardOperation_Modificacion_ChangeCode_17" value="(B) Tipo de Tasa Interés Financiero" />
    <add key="ProcardOperation_Modificacion_ChangeCode_18" value="(C) Tipo de Tasa Interés Moratorio" />
    <add key="ProcardOperation_Modificacion_ChangeCode_19" value="(D) No Utilizado" />
    <add key="ProcardOperation_Modificacion_ChangeCode_20" value="(E) Tasa Interés Cuota" />
    <add key="ProcardOperation_Modificacion_ChangeCode_21" value="(F) No Generación de Cargos Financieros" />
    <add key="ProcardOperation_Modificacion_ChangeCode_22" value="(G) Gastos Financieros Permanente" />
    <add key="ProcardOperation_Modificacion_ChangeCode_23" value="(H) Gastos Financieros p/Periodo" />
    <add key="ProcardOperation_Modificacion_ChangeCode_24" value="(I) Costo  de Emisión" />
    <add key="ProcardOperation_Modificacion_ChangeCode_25" value="(J) Costo de Re Emisión" />
    <add key="ProcardOperation_Modificacion_ChangeCode_26" value="(K) Gastos Administrativos" />
    <add key="ProcardOperation_Modificacion_ChangeCode_27" value="(L) Tasa de Interés Crédito" />
    <add key="ProcardOperation_Modificacion_ChangeCode_28" value="(M) Cobertura contra Fraude" />
    <add key="ProcardOperation_Modificacion_ChangeCode_29" value="(N) Cargo por Exceso" />
    <add key="ProcardOperation_Modificacion_ChangeCode_30" value="(O) Cargo por Mora" />
    <add key="ProcardOperation_Modificacion_ChangeCode_31" value="(P) Cargo por Compra en Exterior" />
    <add key="ProcardOperation_Modificacion_ChangeCode_32" value="(Q) Tarjeta con Tramite Especial" />
    <add key="ProcardOperation_Modificacion_ChangeCode_33" value="(R) Renovación Automática" />
    <add key="ProcardOperation_Modificacion_ChangeCode_34" value="(S) Tasa Interés s/Compras" />
    <add key="ProcardOperation_Modificacion_ChangeCode_35" value="(T) Código de Moneda" />
    <add key="ProcardOperation_Modificacion_ChangeCode_36" value="Cuenta Banco" />
    <add key="ProcardOperation_Modificacion_ChangeCode_37" value="Tipo Cuenta Banco Gs." />
    <add key="ProcardOperation_Modificacion_ChangeCode_38" value="Forma de Pago Guaraníes" />
    <add key="ProcardOperation_Modificacion_ChangeCode_39" value="Numero Interno Cliente" />
    <add key="ProcardOperation_Modificacion_ChangeCode_42" value="Duración de Tarjeta" />
    <add key="ProcardOperation_Modificacion_ChangeCode_47" value="Encargado de Cuenta" />
    <add key="ProcardOperation_Modificacion_ChangeCode_48" value="Código de Captador" />
    <add key="ProcardOperation_Modificacion_ChangeCode_50" value="Nombre en el Plástico" />
    <add key="ProcardOperation_Modificacion_ChangeCode_51" value="Dirección Email 1" />
    <add key="ProcardOperation_Modificacion_ChangeCode_52" value="Barrio 1 " />
    <add key="ProcardOperation_Modificacion_ChangeCode_53" value="Dirección Particular 2" />
    <add key="ProcardOperation_Modificacion_ChangeCode_54" value="Localidad Particular 2" />
    <add key="ProcardOperation_Modificacion_ChangeCode_55" value="Barrio Particular 2 " />
    <add key="ProcardOperation_Modificacion_ChangeCode_56" value="Dirección Laboral 3" />
    <add key="ProcardOperation_Modificacion_ChangeCode_57" value="Localidad Laboral 3" />
    <add key="ProcardOperation_Modificacion_ChangeCode_58" value="Barrio Laboral 3" />
    <add key="ProcardOperation_Modificacion_ChangeCode_59" value="Teléfono Laboral" />
    <add key="ProcardOperation_Modificacion_ChangeCode_60" value="Teléfono Celular" />
    <add key="ProcardOperation_Modificacion_ChangeCode_61" value="Dirección Email 2" />
    <add key="ProcardOperation_Modificacion_ChangeCode_62" value="Observación" />
    <add key="ProcardOperation_Modificacion_ChangeCode_63" value="(U) Costo Anual" />
    <add key="ProcardOperation_Modificacion_ChangeCode_64" value="Enviar Correspondencia a" />
    <add key="ProcardOperation_Modificacion_ChangeCode_65" value="Otro Documento" />
    <add key="ProcardOperation_Modificacion_ChangeCode_66" value="Línea Especial" />
    <add key="ProcardOperation_Modificacion_ChangeCode_67" value="(w) Tasa Cuota Línea Especial" />
    <add key="ProcardOperation_Modificacion_ChangeCode_78" value="Alta Recuperada" />
    <add key="ProcardOperation_Modificacion_ChangeCode_90" value="Bloqueos de Tarjeta " />
    <add key="ProcardOperation_Modificacion_ChangeCode_99" value="BAJA" />

    <add key="Procard_Response_Accepted" value="00"/>
    <add key="Procard_Response_Accepted_Consulta" value="01"/>
    <add key="Procard_Response_Default" value="999"/>

    <add key="Procard_Response_00" value="TRANSACCION ACEPTADA"/>
    <add key="Procard_Response_01" value="LLAMAR A EL BANCO EMISOR"/>
    <add key="Procard_Response_02" value="LLAMAR AL EMISOR"/>
    <add key="Procard_Response_03" value="CODIGO DE AFILIADO INVALIDO"/>
    <add key="Procard_Response_04" value="RECOJA LA TARJETA"/>
    <add key="Procard_Response_05" value="USUARIO/CONTRASEÑA INCORRECTO"/>
    <add key="Procard_Response_06" value="ERROR - TRANSACCION RECHAZADA"/>
    <add key="Procard_Response_07" value="RECOJA LA TARJETA"/>
    <add key="Procard_Response_08" value="ACEPTADO CON IDENTICACION"/>
    <add key="Procard_Response_09" value="MARCA NO VALIDA EN COMERCIO"/>
    <add key="Procard_Response_10" value="TRANSAC.INVALIDA/APROB.PARCIAL"/>
    <add key="Procard_Response_11" value="APROBADA - VIP"/>
    <add key="Procard_Response_12" value="LA TRANSACCION ES INVALIDA"/>
    <add key="Procard_Response_13" value="EL MONTO ES INVALIDO"/>
    <add key="Procard_Response_14" value="EL NUMERO DE TARJETA NO EXISTE"/>
    <add key="Procard_Response_15" value="EL NUMERO DE EMISOR NO EXISTE"/>
    <add key="Procard_Response_16" value="COMERCIO NO AUTORIZADO P/CUOTA"/>
    <add key="Procard_Response_17" value="CANTIDAD DE CUOTAS NO VALIDA"/>
    <add key="Procard_Response_18" value="NUMERO DOCUMENTO INVALIDO"/>
    <add key="Procard_Response_19" value="TRATE NUEVAMENTE"/>
    <add key="Procard_Response_20" value="CUENTA INACTIVA"/>
    <add key="Procard_Response_21" value="EL REVERSO NO HA SIDO ACEPTADO"/>
    <add key="Procard_Response_22" value="TRATE NUEVAMENTE"/>
    <add key="Procard_Response_25" value="EL REGISTRO NO ESTA EN ARCHIVO"/>
    <add key="Procard_Response_28" value="EL ARCHIVO NO ESTA DISPONIBLE"/>
    <add key="Procard_Response_30" value="ERROR DE FORMATO"/>
    <add key="Procard_Response_35" value="NO ADHERIDO A CREDIFIELCO"/>
    <add key="Procard_Response_36" value="RETENER TARJETA"/>
    <add key="Procard_Response_39" value="NO EXISTE LA CUENTA DE CREDITO"/>
    <add key="Procard_Response_40" value="NO HABILITADO P/PAGO TARJETA"/>
    <add key="Procard_Response_41" value="LA TARJETA ES UNA EXTRAVIADA"/>
    <add key="Procard_Response_43" value="LA TARJETA ES ROBADA"/>
    <add key="Procard_Response_45" value="EXTRACCION MAYOR A 1.500.000"/>
    <add key="Procard_Response_46" value="EMIS/BCO.NO RESPOND.EN 49 SEG."/>
    <add key="Procard_Response_47" value="BCO/NEG/ATM NO RESPOND. 49 SEG"/>
    <add key="Procard_Response_48" value="BCO PAG.DE TARJ.FUERA DE SERV."/>
    <add key="Procard_Response_49" value="OPERACION NO ACEPTADA EN CUOTA"/>
    <add key="Procard_Response_50" value="PRESTAMO CANCELADO"/>
    <add key="Procard_Response_51" value="NO TIENE CREDITO DISPONIBLE"/>
    <add key="Procard_Response_52" value="LA CUENTA DE CHEQUE NO EXISTE"/>
    <add key="Procard_Response_53" value="LA CUENTA DE AHORRO NO EXISTE"/>
    <add key="Procard_Response_54" value="LA TARJETA ESTA EXPIRADA"/>
    <add key="Procard_Response_55" value="EL PIN ES INCORRECTO"/>
    <add key="Procard_Response_56" value="STATUS COMERCIO INVALIDO"/>
    <add key="Procard_Response_57" value="TRANSACION NO PERMITIDA(C/H)"/>
    <add key="Procard_Response_58" value="TRANSACCION NO PERMITIDA (POS)"/>
    <add key="Procard_Response_59" value="SOPECHA DE FRAUDE"/>
    <add key="Procard_Response_60" value="TARJETA INACTIVA"/>
    <add key="Procard_Response_61" value="LIMITE DE ACTIVIDAD EXCEDIDO"/>
    <add key="Procard_Response_62" value="LA TARJETA ESTA RESTRINGIDA"/>
    <add key="Procard_Response_63" value="VIOLACION DE SEGURIDAD"/>
    <add key="Procard_Response_65" value="EXCEDE FRECUENCIA LIMITE STIP"/>
    <add key="Procard_Response_70" value="CONTACTE CON EMISOR DE LA TARJ"/>
    <add key="Procard_Response_71" value="LLAME AL EMISOR"/>
    <add key="Procard_Response_72" value="LLAME AL EMISOR"/>
    <add key="Procard_Response_73" value="CLIENTE INVALIDO DINELCO MOVIL"/>
    <add key="Procard_Response_75" value="ENTRADA MAX DE PIN EXCEDIDA"/>
    <add key="Procard_Response_76" value="MENSAGE ANTERIOR NO ENCONTRADO"/>
    <add key="Procard_Response_77" value="MENSAGE REPETIDO ES INVALIDO"/>
    <add key="Procard_Response_78" value="NO EXISTE LA CUENTA ESPECIFADA"/>
    <add key="Procard_Response_79" value="TRANSACCION YA FUE REVERSADA"/>
    <add key="Procard_Response_80" value="LA FECHA ES INVALIDA"/>
    <add key="Procard_Response_81" value="ERROR CRIPTOGRAFICO EN PVV/CVV"/>
    <add key="Procard_Response_82" value="EL CVV ES INCORRECTO"/>
    <add key="Procard_Response_83" value="NO SE PUEDE VERIFICAR EL PIN"/>
    <add key="Procard_Response_84" value="LIMITE DE TIEMPO FUE EXEDIDO"/>
    <add key="Procard_Response_85" value="NO HAY RAZON P/NEGAR X VERIFIC"/>
    <add key="Procard_Response_86" value="NO SE PUEDE VERIFICAR EL PIN"/>
    <add key="Procard_Response_87" value="PROCESO DE TOTALES TERMINADO"/>
    <add key="Procard_Response_88" value="SWITCH NO PUEDE PROVEER TOTAL"/>
    <add key="Procard_Response_89" value="NO PUEDE RECIBIR INFOR/FINANC."/>
    <add key="Procard_Response_90" value="BAJA DE TARJETA"/>
    <add key="Procard_Response_91" value="EL EMISOR NO ESTA OPERANDO"/>
    <add key="Procard_Response_92" value="EMISOR DESCONECTADO"/>
    <add key="Procard_Response_93" value="LA TRANSACCION NO COMPLETADA"/>
    <add key="Procard_Response_94" value="MASTERCARD DESCONECTADO"/>
    <add key="Procard_Response_95" value="EXEDE PARAMETRO BCO.PAGADOR"/>
    <add key="Procard_Response_96" value="EL SYSTEMA NO ESTA FUNCIONANDO"/>
    <add key="Procard_Response_97" value="ATENCION A LA TARJETA"/>
    <add key="Procard_Response_98" value="EXEDE PARAMETRO DEL EMISOR"/>
    <add key="Procard_Response_99" value="LLAME A PROCARD"/>
    <add key="Procard_Response_CA" value="TARJETA RESCATADA"/>
    <add key="Procard_Response_CL" value="TARJETA NO RESCATADA"/>
    <add key="Procard_Response_N7" value="CVV2/CVT INVALIDO"/>
    <add key="Procard_Response_XA" value="ENVIAR AL EMISOR"/>
    <add key="Procard_Response_XD" value="ENVIAR AL EMISOR"/>
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>