<?xml version="1.0" encoding="utf-8"?>
<!--
    Nota: agregue entradas al archivo App.config para los ajustes de configuración
    que solo aplican al proyecto Test.
-->
<configuration>
    <appSettings>
      <add key="ProcardUsername" value="GXTARJETAMI" />
      <add key="ProcardPassword" value="PROCARDDES" />
    </appSettings>

    <connectionStrings>

    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
